@using ASP.Models
@{
    ViewData["Title"] = "Route Aanpassen";
    IEnumerable<WerknemerViewModel> werknemers = ViewData["Werknemers"] as IEnumerable<WerknemerViewModel>;
    RouteViewModel route = ViewData["ChangeRoute"] as RouteViewModel;
}
@model ASP.Models.RouteViewModel


    <div class="row justify-content-center">
        <form class="col-sm-12 col-md-8">
            <div class="mb-3">
                <label class="form-label">Datum</label>
                <input type="date" placeholder="dd-mm-yyyy" id="choose-change-date" />
            </div>

            <div class="mb-3">
                <label class="form-label">Kies de Route</label>
                <select id="option-date-aanpassen" style="width: 200px; height: 25px">
                    <optgroup label="Routes" id="optgroup-routes" selected>

                    </optgroup>
                </select>
            </div>
        </form>
    </div>

    <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
        <!-- Routenummer input -->
        <div class="mb-3">
            <label class="form-label">Routenummer</label>
            <input type="text" class="form-control" id="input-routenummer" placeholder="Routenummer" value="" />
        </div>

        <!-- Date Select -->
        <div class="mb-3">
            <label asp-for="Datum" class="form-label">Datum</label>
            <input asp-for="Datum" type="date" placeholder="dd-mm-yyyy" id="input-datum" value="" />   
        </div>

        <!-- Chauffeur select -->
        <div class="mb-3 row">
            <div class="col">
                <label for="drop-chauffeur">Chauffeur</label>
                <select asp-for="Chauffeur" class="form-select" id="drop-chauffeur">
                    <optgroup label="Werknemers">
                        @foreach (WerknemerViewModel werknemer in werknemers)
                        {
                            <option value="@werknemer.WerknemerID">@werknemer.Naam</option>
                        }
                    </optgroup>
                </select>
            </div>

            <div class="col">
                <label for="drop-bijrijder">Bijrijder</label>
                <select asp-for="BijRijder" class="form-select" id="drop-bijrijder">
                    <optgroup label="Werknemers">
                        @foreach (WerknemerViewModel werknemer in werknemers)
                        {
                            <option value="@werknemer.WerknemerID">@werknemer.Naam</option>
                        }
                    </optgroup>
                </select>
            </div>
        </div>

        <!-- Starttijd & Eindtijd -->
        <div class="mb-3 row">
            <div class="col">
                <label asp-for="StartTijd" class="form-label">Starttijd</label>
                <input asp-for="StartTijd" type="time" class="form-control" id="input-starttijd" placeholder="Starttijd" value="" />
            </div>

            <div class="col">
                <label asp-for="EindTijd" class="form-label">Eindtijd</label>
                <input asp-for="EindTijd" type="time" class="form-control" id="input-eindtijd" placeholder="Eindtijd" value="" />
            </div>
        </div>

        <!-- Bijzonderheden -->
        <div class="mb-3">
            <label asp-for="Bijzonderheden" class="form-label">Bijzonderheden</label>
            <input asp-for="Bijzonderheden" type="text" class="form-control" id="bijzonderheden" placeholder="Bijzonderheden" value="" />
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" id="buttonrouteaanpassen" style="color: var(--bs-gray-100);background: var(--bs-gray-900);">Aanpassen</button>
        </div>
    </div> 
</div>

    @section Scripts {
    <script type="text/javascript">
        var target = window.location.protocol + "//" + window.location.host;
        $('#choose-change-date').change(function(){
            var Date = $('#choose-change-date').val();
            $('#optgroup-routes').empty();
            
            
            $.post(target + "/Route/GetRoutesFromDate", {date: Date} )
                .done(data => {
                    console.log(data)
                    $('#optgroup-routes').append('<option value="">Kies Een Route</option>');
                    for (const route of data) {
                        $('#optgroup-routes').append('<option value="' + route.routeID + '">' + route.routeNummer + '</option>');
                    }   
                })  
                .fail(data => { alert(data.responseText) })
        });

        $('#option-date-aanpassen').on('input', function(){
            var routeID = $('#option-date-aanpassen').val();
            console.log(routeID);
            if (routeID !== 0){
                 $.post(target + "/Route/GetSingleRouteByID/" + routeID, null)
                                .done(data => { 
                                    $('#input-routenummer').val(data.routeNummer);
                                    $('#input-datum').val(data.datum.slice(0, 10));
                                    $('#drop-chauffeur').append('<option value="' + data.chauffeur.werknemerID + '" selected>' + data.chauffeur.naam + '</option>');
                                    $('#drop-bijrijder').append('<option value="' + data.bijRijder.werknemerID + '" selected>' + data.bijRijder.naam + '</option>');
                                    $('#input-starttijd').val(data.startTijd);
                                    $('#input-eindtijd').val(data.eindTijd);
                                    $('#bijzonderheden').val(data.bijzonderheden); 
                                })
                                .fail(data => { alert(data.responseText) })
            }
            else{
                alert("9291");
            }
           
        });
    </script>
    }