@model List<ASP.Models.RouteViewModel>

    <div class="row justify-content-center">
        <form class="col-sm-12 col-md-8">
            <div class="mb-3">
                <label class="form-label">Datum</label>
                <input type="date" placeholder="dd-mm-yyyy" id="choose-change-date" />
            </div>

            <div class="mb-3">
                <label class="form-label">Kies de Route</label>
                <select id="option-date-aanpassen" style="width: 200px; height: 25px">
                </select>
            </div>

            <div class="mb-3">
            <button id="buttonrouteaanpassen" class="btn btn-primary" type="button" style="width: 120.5px;height: 41px;background: var(--bs-gray-800);">Aanpassen</button>
            </div>

        </form>
    </div>

    @section Scripts {
    <script type="text/javascript">
        $('#choose-change-date').change(function(){
            var Date = $('#choose-change-date').val();
            $('#option-date-aanpassen').empty();
            
            let target = window.location.protocol + "//" + window.location.host;
            $.post(target + "/Route/GetRoutesFromDate", {date: Date} )
                .done(data => {
                    for (var i = 0; i <= data.length; i++) {
                        $('#option-date-aanpassen').append('<option value="' + data[i].routeID + '">' + data[i].routeNummer + '</option>');
                    }   
                })  
                .fail(data => { alert(data.responseText) })
        });
    </script>
    }