@{
    ViewData["Title"] = "Maand Conclusie";
}
<div class="text-center m-3">
    <h3>Maand:</h3>
    <input type="month" id="monthpicker" name="start" min="2015-01" data-date-format="mm-yyyy">  
</div>   

<div class="table-responsive" id="sailorTableArea">
    <table id="sailorTable" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>Aantal Routes</th>
                <th>Aantal Uur Gewerkt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="aantalroutes"></td>
                <td id="aantaluur"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive" id="sailorTableArea">
    <table id="routeTable" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>RouteNummer</th>
                <th>Datum</th>
                <th>Aantal uur</th>
                <th>Chauffeur</th>
                <th>Bijrijder</th>
                <th>Bijzonderheden</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>



@section Scripts {
    <script type="text/javascript">
        var target = window.location.protocol + "//" + window.location.host;
        $('#monthpicker').change(function(){
            Month = $('#monthpicker').val();
            $.post(target + "/Route/GetMonthConclusion", {chosenMonth: Month})
                .done(data => {
                    console.log(data);
                    $('#aantalroutes').html(data.aantalRoutesGereden);
                    $('#aantaluur').html(data.aantalUrenDisplay);

                    $('#routeTable tbody').empty();

                    for (const route of data.routeRits){
                        var routeNummer = route.routeNummer;
                        var datum = route.datum;
                        var aantalUur = route.aantalUur;
                        var chauffeur = route.chauffeur.naam;
                        var bijrijder = route.bijRijder.naam;
                        var bijzonderheden = route.bijzonderheden;

                        $('#routeTable tbody').append("<tr> <td>"+ routeNummer +"</td> <td>"+ datum.slice(0, datum.length - 9) +
                        "</td> <td>"+ aantalUur+"</td> <td>"+ chauffeur +"</td> <td>"+ bijrijder +"</td> <td>"+ bijzonderheden +"</td> </tr>");
                    }
                })
                .fail(data => { alert(data.responseText)})
        })
    </script>
}