h1 {
    margin-top: 150px;
    color: black;
    padding-bottom: 2rem;
    font-weight: bold;
}

a {
    color: #F69B2D;
}

    a:hover {
        color: #bf7721;
        text-decoration: none;
    }

.card-body {
    background-color: whitesmoke;
    border: thin 1px;
    box-shadow: 2.2px 2.4px 0.5px rgba(0, 0, 0, 0.011), 4.9px 5.3px 2.5px rgba(0, 0, 0, 0.017), 8.2px 8.9px 5.9px rgba(0, 0, 0, 0.022), 12.4px 13.5px 11.1px rgba(0, 0, 0, 0.026), 17.9px 19.4px 18.4px rgba(0, 0, 0, 0.031), 25.3px 27.5px 28.1px rgba(0, 0, 0, 0.035), 35.9px 39px 40.9px rgba(0, 0, 0, 0.041), 52.2px 56.6px 57.7px rgba(0, 0, 0, 0.047), 80.4px 87.2px 80px rgba(0, 0, 0, 0.055), 143px 155px 107px rgba(0, 0, 0, 0.07);
}

.loginForm:focus {
    color: #000;
    background-color: white;
    border: 5px solid #E8D426;
    outline: 0;
    box-shadow: none;
}

.btn {
    background: #F69B2D;
    border: #F69B2D;
}

    .btn:hover {
        background: #bf7721;
        border: #bf7721;
    }

body {
    --s: 15vmin;
    font-family: 'Muli', sans-serif;
    --p: calc(var(--s) / 2);
    --c1: #F69B2D;
    --c2: #547799;
    --c3: whitesmoke;
    --bg: var(--c3);
    --d: 8000ms;
    --e: cubic-bezier(0.76, 0, 0.24, 1);
    background-color: var(--bg);
    background-image: linear-gradient(45deg, var(--c1) 25%, transparent 25%), linear-gradient(-45deg, var(--c1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--c2) 75%), linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
    background-size: var(--s) var(--s);
    background-position: calc(var(--p) * 1) calc(var(--p) * 0), calc(var(--p) * -1) calc(var(--p) * 1), calc(var(--p) * 1) calc(var(--p) * -1), calc(var(--p) * -1) calc(var(--p) * 0);
    animation: color var(--d) var(--e) infinite, position var(--d) var(--e) infinite;
}

@keyframes color {
    0%, 25% {
        --bg: var(--c3);
    }

    26%, 50% {
        --bg: var(--c1);
    }

    51%, 75% {
        --bg: var(--c3);
    }

    76%, 100% {
        --bg: var(--c2);
    }
}

@keyframes position {
    0% {
        background-position: calc(var(--p) * 1) calc(var(--p) * 0), calc(var(--p) * -1) calc(var(--p) * 1), calc(var(--p) * 1) calc(var(--p) * -1), calc(var(--p) * -1) calc(var(--p) * 0);
    }

    25% {
        background-position: calc(var(--p) * 1) calc(var(--p) * 4), calc(var(--p) * -1) calc(var(--p) * 5), calc(var(--p) * 1) calc(var(--p) * 3), calc(var(--p) * -1) calc(var(--p) * 4);
    }

    50% {
        background-position: calc(var(--p) * 3) calc(var(--p) * 8), calc(var(--p) * -3) calc(var(--p) * 9), calc(var(--p) * 2) calc(var(--p) * 7), calc(var(--p) * -2) calc(var(--p) * 8);
    }

    75% {
        background-position: calc(var(--p) * 3) calc(var(--p) * 12), calc(var(--p) * -3) calc(var(--p) * 13), calc(var(--p) * 2) calc(var(--p) * 11), calc(var(--p) * -2) calc(var(--p) * 12);
    }

    100% {
        background-position: calc(var(--p) * 5) calc(var(--p) * 16), calc(var(--p) * -5) calc(var(--p) * 17), calc(var(--p) * 5) calc(var(--p) * 15), calc(var(--p) * -5) calc(var(--p) * 16);
    }
}

@media (prefers-reduced-motion) {
    body {
        animation: none;
    }
}