@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-size: 16px;
    background-color: ghostwhite;
    font-family: 'Poppins', sans-serif;
}

a {
    color: ;
}

table {
    border-bottom: 1px thin red !important;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar {
    height: 60px;
    background-color: dimgrey !important;
}
