@page
@model ASP.NET.Pages.Index1Model
@{
}

<div class="inputgroup">

  <label for="name">Naam:</label>
  <input type="text" id="name" name="name"><br><br>
  <label for="werknemerID">Werknemer ID:</label>
  <input type="text" id="werknemerID" name="werknemerID"><br><br>
  <label for="telefoonnummer">Telefoonnummer:</label>
  <input type="text" id="telefoonnummer" name="telefoonnummer"><br><br>
 
    
    <form runat="server">
    Enter your name:
    <asp:TextBox id="txt1" runat="server" />
    <asp:Button OnClick="submit" Text="Submit" runat="server" />
    <p><asp:Label id="lbl1" runat="server" /></p>
    </form>


</div>