@{
    ViewData["Title"] = "Werknemer Aanpassen";
}
@model List<ASP.Models.WerknemerViewModel>

<div class="justify-content-center">
    <form class="col-sm-12 col-md-8">
        <div class="mb-3">
            <p>Kies een Werknemer.</p>
            <select id="drop-aanpassen" style="width: 200px">
                <optgroup label="Werknemers">
                    @foreach (WerknemerViewModel werknemer in Model)
                    {
                        <option value="@werknemer.WerknemerID">@werknemer.Naam</option>
                    }
                </optgroup>
            </select>
        </div>
        <div class="form-group mb-3">
            <small>Naam</small>
            <div class="input-group"><input id="changed-naam" class="form-control InputBorder" placeholder="Naam" style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/width: 127px;" /></div>
        </div>
        <div class="form-group mb-3">
            <small>Werknemer Nummer</small>
            <div class="input-group"><input id="changed-werknemernum" class="form-control InputBorder" placeholder="Werknemer Nummer" style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/width: 127px;" /></div>
        </div>
        <div class="form-group mb-3">
            <small>Telefoonnummer</small>
            <div class="input-group"><input id="changed-telefoonnummer" class="form-control InputBorder" placeholder="Telefoonnummer" style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/width: 127px;" /></div>
        </div>
        <button id="buttonwerknemeraanpassen" class="btn btn-primary" type="button" style="background: rgb(51,51,51);">Aanpassen</button>
    </form>
</div>

@section Scripts {

    <script type="text/javascript">
    $("#drop-aanpassen").change(() => {
       let selected = $("#drop-aanpassen").val();

       let target = window.location.protocol + "//" + window.location.host;
       $.post(target + "/Werknemer/LoadWerknemer/" + selected)
        .done(data => {
            $("#changed-naam").val(data.naam);
            $("#changed-werknemernum").val(data.nummerPasje);
            $("#changed-telefoonnummer").val(data.telefoonNummer);
        })
        .fail(data => { alert(data.responseText) })
    })

</script>
}
