@using Logic.Models
@using Logic.Containers
@{
    ViewData["Title"] = "Werknemer Aanpassen";
    WerknemerContainer werknemerContainer = new WerknemerContainer();
}

<div style="margin: 0px;height: 316px;margin-top: 51px;margin-left: 50px;">
    <p style="width: 794px;margin-bottom: 0px;margin-left: 34px;">Kies een Werknemer.</p><select id="drop-aanpassen" style="margin-top: 16px;margin-left: 32px;width: 164px;height: 36px;">
        <optgroup label="Werknemers">
            @foreach (Werknemer werknemer in werknemerContainer.Werknemers)
            {
                <option value="@werknemer.WerknemerID">@werknemer.Naam</option>
            }
        </optgroup>
    </select>
    <div class="form-group mb-3" style="width: 284px;margin-top: 74px;margin-left: 30px;"><small>Naam</small>
        <div class="input-group" style="width: 284px;"><input id="changed-naam" class="form-control InputBorder" type="email" placeholder="Naam" style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/width: 127px;" /></div>
    </div>
    <div class="form-group mb-3" style="width: 284px;margin-top: 18px;margin-left: 30px;"><small>Werknemer Nummer</small>
        <div class="input-group" style="width: 284px;"><input id="changed-werknemernum" class="form-control InputBorder" type="email" placeholder="Werknemer Nummer" style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/width: 127px;" /></div>
    </div>
    <div class="form-group mb-3" style="width: 284px;margin-top: 16px;margin-left: 30px;"><small>Telefoonnummer</small>
        <div class="input-group" style="width: 284px;"><input id="changed-telefoonnummer" class="form-control InputBorder" type="email" placeholder="Telefoonnummer" style="/*border: 0;*//*border-width: 0 0 1px 0;*//*border-color: black;*//*border-radius: 0;*/width: 127px;" /></div>
    </div><button id="buttonaanpassen" class="btn btn-primary" type="button" style="margin-left: 30px;width: 103.5px;background: rgb(51,51,51);">Aanpassen</button>
</div>

<script type="text/javascript">
    $("#drop-aanpassen").change(() => {
       let selected = $("#drop-aanpassen").val();

       let target = window.location.protocol + "//" + window.location.host;
       $.post(target + "/Werknemer/LoadWerknemer/" + selected)
        .done(data => {

            $("#changed-naam").val(data.naam);
            $("#changed-werknemernum").val(data.nummerPasje);
            $("#changed-telefoonnummer").val(data.telefoonNummer);
        })
        .fail(data => { alert(data.responseText) })
    })
</script>
