@*
<form>
    <label for="fname">Naam:</label><br>
    <input type="text" id="naam" name="naam"><br>
    <label for="lname">WerknemerNummer:</label><br>
    <input type="text" id="werknummer" name="werknummer"><br>
</form>
*@
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Naam</span>
  </div><br>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="input-naam">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">WerknemerNummer</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="input-werknemernum"><br>
  <button class="btn-outline-dark" id="button">Registreren</button>
</div>