@{
    ViewData["Title"] = "Werknemer Toevoegen";
    IEnumerable<WerknemerViewModel> werknemers = ViewData["Werknemers"] as IEnumerable<WerknemerViewModel>;
}
@model ASP.Models.WerknemerViewModel

<div class="row">
    <div class="forms-div col-6">
        <form method="post" asp-controller="Werknemer" asp-action="WerknemerToevoegen">
        <div class="input-group" style="width: 342px;margin-left: 23px;margin-top: 37px;">
            <label asp-for="Naam" class="input-group-text">Naam</label>
            <input asp-for="Naam" id="input-naam" class="form-control" type="text" />
        </div>
        <div class="input-group" style="width: 388px;margin-left: 23px;margin-top: 12px;">
            <label asp-for="WerknemerNummer" class="input-group-text">Werknemer Nummer</label>
            <input asp-for="WerknemerNummer" id="input-werknemernum" class="form-control" type="text" style="width: 19.766px;" />
        </div>
        <div class="input-group" style="padding: 0px;width: 388px;margin-left: 23px;margin-top: 12px;">
            <label asp-for="TelefoonNummer" class="input-group-text">Telefoonnummer</label>
            <input asp-for="TelefoonNummer" id="input-telefoonnum" class="form-control" type="text" />
        </div>
        <button class="btn btn-primary" type="submit" style="margin-top: 12px;margin-left: 23px;color: var(--bs-gray-100);background: var(--bs-gray-900);">Toevoegen</button>
        </form>
    </div>

    <div class="col-6" style="margin-top: 37px;">
        <label>Neem een medewerker over:</label>
        <select class="form-select" id="werknemer-linker" style="width: 300px;">
            <optgroup label="Werknemers">
                @foreach (WerknemerViewModel werknemer in werknemers)
                {
                    <option value="@werknemer.WerknemerID">@werknemer.Naam, @werknemer.WerknemerNummer</option>
                }
            </optgroup>
        </select>
        <button class="btn btn-primary" id="werknemer-overnemen" style="color: var(--bs-gray-100);background: var(--bs-gray-900); margin-top: 12px;">Overnemen</button>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $('#werknemer-overnemen').click(() => {
            console.log("COOOLLLLL")
            let WerknemerID = $('#werknemer-linker').val();

            let target = window.location.protocol + "//" + window.location.host;
            $.post(target + "/Werknemer/LinkWerknemerToUser/" + WerknemerID)
                .done(data => { alert(data),  window.location.href = target + "/Home/Index"})
                .fail(data => { alert(data.responseText) })
        })
    </script>
}