@model TicketApplication.Models.UserViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login - AdmiNote</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli'><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="~/css/login.css" />

</head>
<body>
<div class="pt-5">
  <img class="text-center" src ="~/img/dynalogic_logo.png" />
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card card-body">
                                                    
                <form id="loginForm">
                    <div class="form-group required">
                        <label for="email">Email</label>
                        <input type="text" class="form-control text-lowercase" id="email" required="" name="username" value="">
                    </div>                    
                    <div class="form-group required">
                        <label class="d-flex flex-row align-items-center" for="password">Password 
                            <a class="ml-auto border-link small-xl" href="#" onclick="notImplemented()">Forget?</a></label>
                        <input type="password" class="form-control" required="" id="password" name="password" value="">
                    </div>
                    <div class="form-group mt-4 mb-4">
                    </div>
                    <div class="form-group pt-1">
                        <button class="btn btn-primary btn-block" type="submit">Log In</button>
                    </div>
                </form>
                <p class="small-xl pt-3 text-center">
                    <a href="/Account/Register">Sign up</a>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
  
</body>


<!-- <main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <form id="loginForm">
                        <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                <div class="col-md-6">
                                   @Html.TextBoxFor(m => m.Email, new {id="email"})
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Password, new {id="password", type="password"})
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                                <a href="/Account/Register" class="btn btn-link">
                                    Sign Up
                                </a>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>-->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    $('#loginForm').submit(e => {
	    e.preventDefault();

	    let data = {
		    email: $('#email').val(),
		    password: $('#password').val(),
	    }

	    let domain = window.location.protocol + "//" + window.location.host + "/";

	    $.post(domain + "Account/Login", data).done(() => {
		    window.location.href = domain + "Home/Index";
	    }).fail(xhr => {
		    alert(xhr.responseText)
	    })
    })


    function notImplemented(){
        alert("WARNING NOT IMPLEMENTED");
    }
</script>
</html>