@model TicketApplication.Models.UserViewModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Register - AdmiNote</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli'><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="~/css/register.css" />

</head>
<body>
<div class="pt-5">
  <h1 class="text-center">Register </h1>
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card card-body">                      
                <form id="registerForm">
                    <div class="form-group required">
                        <label for="email">Email</label>
                        <input type="text" class="form-control text-lowercase" id="email" required="" name="email" value="">
                    </div> 
					<div class="form-group required">
                        <label for="username">Username</label>
                        <input type="text" class="form-control text-lowercase" id="username" required="" name="username" value="">
                    </div> 
                    <div class="form-group required">
                        <label class="d-flex flex-row align-items-center" for="password">Password</label>
                        <input type="password" class="form-control" required="" id="pass" name="password" value="">
                    </div>
                    <div class="form-group required">
                        <label class="d-flex flex-row align-items-center" for="verpass">Verify Password</label>
                        <input type="password" class="form-control" required="" id="verpass" name="password" value="">
                    </div>
                    <div class="form-group mt-4 mb-4">
                    </div>
                    <div class="form-group pt-1">
                        <button class="btn btn-primary btn-block" type="submit">Register</button>
                    </div>
                </form>
                <p class="small-xl pt-3 text-center">
                    <a href="/Account/Login">Log In</a>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
  
</body>
<!--<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">ASP</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					@*@using (Html.BeginForm("RegisterPost", "Account", FormMethod.Post))
					{*@
						<form id="registerForm">
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									@Html.TextBoxFor(m => m.Email, new {placeholder = "Email", id="email"})
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									@Html.TextBoxFor(m => m.UserName, new {placeholder = "Username", id="username"})
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									@Html.TextBoxFor(m => m.Password, new {placeholder = "Password", type = "password", id="pass"})
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									@Html.TextBoxFor(m => m.VerPw, new {placeholder = "Confirm Password", type = "password", id="verpass"})
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" class="btn btn-primary"> Register</button>
						</div>
						<div class="login-register">
				            <a href="~/Account/Login">Login</a>
				         </div>
					</form>
				</div>
			</div>
		</div>-->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<script type="text/javascript">
	$('#registerForm').submit(e => {
		e.preventDefault();

		let data = {
			verPw: $('#verpass').val(),
			email: $('#email').val(),
			password: $('#pass').val(),
			userName: $('#username').val()
		}

		let domain = window.location.protocol + "//" + window.location.host + "/";

		$.post(domain + "Account/Register", data).done(() => {
			window.location.href = domain + "Account/Login";
		}).fail(xhr => {
			alert(xhr.responseText)
		})
	})

	</script>
</html>